.container_middle {
    background-color: #fff;
    padding: 20px;
    margin: 0 0 101px;
    margin-top: 169px;
}


.middle_title {
    color: #222;
    font-family: Gilroy;
    font-size: 24.95px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}


.middle_text {
    color: #73738D;
    font-family: Gilroy;
    font-size: 14.554px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    margin-top: 16px;
    margin: 0;
}