body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h2 {
    margin: 0;
    font-size: 24px;
}

.left_header {
    float: left;
    display: flex;
    padding: 30px;
    align-items: center;
}

.right_header {
    float: right;
    display: flex;
    padding: 30px;
    align-items: center;
}

button {
    background-color: #444;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 40px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555;
}


.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

#mainHero {
    text-align: center;
    padding-bottom: 20px;
}

#mainHero h2 {
    font-size: 28px;
    margin: 0;
    color: #333;
}

#sort {
    text-align: center;
    margin-top: 20px;
}

#sort p {
    font-size: 16px;
    color: #444;
}

#sort_button {
    background-color: #555;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#sort_button:hover {
    background-color: #666;
}

#expenses {
    text-align: center;
    margin-top: 20px;
}

#expenses p {
    font-size: 16px;
    color: #444;
}

#count_button {
    background-color: #555;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#count_button:hover {
    background-color: #666;
}

#totalPrice {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}

aside {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f7f7f7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

aside h2 {
    font-size: 24px;
    margin: 0 0 20px;
    color: #333;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button#save-camera-button {
    background-color: #555;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

button#save-camera-button:hover {
    background-color: #666;
}

.camera-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.camera-info {
    flex: 0 0 calc(50% - 10px);
    box-sizing: border-box;
    padding: 20px;
    background-color: #f7f7f7;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 20px;
    transition: box-shadow 0.3s;
}

.camera-info h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.camera-info p {
    font-size: 14px;
    color: #555;
    margin: 5px 0;
}

.camera-info button {
    background-color: #555;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.camera-info button:hover {
    background-color: #666;
}

.hidden {
    display: none;
}


#find_button {
    background-color: #4CAF50;
    color: #fff;
}

#cancel_find_button {
    background-color: #FF0000;
    color: #fff;
}

#showCameras:hover,
#createCamera:hover {
    background-color: black;
}

button.saveEdit {
    background-color: #4CAF50; 
    color: #fff;
    padding: 5px 10px; 
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

button.cancel {
    background-color: #FF0000; 
    color: #fff;
    padding: 5px 10px; 
    font-size: 14px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}
